@import "../../assets/styles/media-queries.scss";

.services {
  @include md-min {
    padding-top: 87px;
  }
}

.services__items-icons {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 50px 0;

  @include md-min {
    margin: 20px 0;
  }
}

.services__service {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  svg {
    font-size: 50px;
    margin: 50px 0;
    color: var(--gray-light-color);
  }
}

.services__items-icons__inner {
  display: flex;

  @include md-max {
    flex-direction: column;
    padding: 20px;
  }
}

.services__paragraph {
  line-height: 2;

  @include md-min {
    text-align: center;
  }
}
