@import '../../utilis/media-queries.scss';

.about {
  min-height: 30vh;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  @include xs {
    flex-direction: column;
    padding: 20px;
  }
}

.about__left-side {
  width: 45%;

  @include xs {
    width: 100%;
  }
}

.about__left-title {
  position: relative;
  text-transform: uppercase;
  display: inline;
  font-size: 30px;
  letter-spacing: 2.2px;

  &::after {
    position: absolute;
    left: 0;
    bottom: -7px;
    content: '';
    width: 100px;
    border-bottom: 2px solid var(--second-color);
  }
}

.about__left-text {
  margin-top: 30px;
  color: var(--gray-light-color);
}

.about__right-text {
  color: var(--gray-light-color);
  line-height: 2;
}

.about__right-button {
  background-color: var(--second-color);
  padding: 10px 20px;
  margin: 20px 0;
  color: var(--main-color);
}
