@import '../../utilis/media-queries.scss';

.slider {
  min-height: 30vh;
  margin-top: 50px;

  @include xs {
    margin-top: 0;
  }
}

.slider__img {
  background-image: url('../../images-header/img-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}
