@import '../../assets/styles/media-queries.scss';

.form-container {
  min-height: 50vh;
  background-color: var(--second-color);

  @include xs {
    padding: 20px 0;
  }
}

.form__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  width: 100%;

  @include xs {
    padding: 0;
  }
}

.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include xs {
    padding: 0 20px;
  }
}

.form-control {
  border: var(--color-white);
}

.btn {
  background-color: var(--color-white);
}

.input {
  height: 30px;
  border-radius: 5px;
}

.label {
  padding: 5px 0;
}

.btn-submit {
  margin: 10px 0;
  width: 100px;
  min-height: 20px;
  padding: 5px 0;
  background: var(--white-color);
}

.text-area {
  border-radius: 5px;
  min-height: 100px;
}
