@import "../../assets/styles/basic.scss";
@import "../../assets/styles/media-queries.scss";

.hamburger-react {
  display: none;
  z-index: 1000;

  @include md-max {
    display: block;
    margin-left: auto;
    cursor: pointer;
  }
}
