@import '../../assets/styles/media-queries.scss';

.counter__inner {
  padding: 50px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  @include xs {
    flex-direction: column;
    padding: 20px;
  }
}

.counter__item {
  width: 50%;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include xs {
    width: 100%;
  }
}

.counter__count {
  font-size: 60px;
  color: var(--second-color);
  font-weight: bold;
}

.counter__text {
  margin: 20px 0;
}
