@import '../../assets/styles/media-queries.scss';

.counter__inner {
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  @include xs-min {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.counter__item {
  width: 100%;
  z-index: 111;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  @include xs-min {
    padding: 0 10px;
  }

  @include md-min {
    padding: 0 20px;
    justify-content: center;
  }
}

.counter__count {
  font-size: 30px;
  color: var(--main-color);

  font-weight: bold;

  @include sm-min {
    font-size: 60px;
    padding: 0 10px;
  }
}

.counter__text {
  margin: 20px 0;
}
