.local-bootstrap {
  @import '~bootstrap/scss/bootstrap';
}

.form {
  min-height: 50vh;
  background-color: var(--second-color);
}

.form__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  width: 100%;
}

form {
  max-width: 600px;
  margin: 0 auto;
}
