@import '../../assets/styles/media-queries.scss';

.slider {
  min-height: 30vh;
  margin-top: 50px;

  @include xs {
    margin-top: 0;
  }
}

.slider__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.slider__img-1 {
  background-image: url("../../assets/images/images-slider/slider-img-1.jpg");
}

.slider__img-2 {
  background-image: url("../../assets/images/images-slider/slider-img-1.jpg");
}
.slider__img-3 {
  background-image: url("../../assets/images/images-slider/slider-img-1.jpg");
}

.carousel .control-dots .dot {
  box-shadow: none;
  height: 12px;
  width: 12px;
}
.carousel .carousel-status {
  display: none;
}
