@import '../../utilis/media-queries.scss';

.services {
}

.services-tiles__inner {
  display: flex;
  min-height: 50vh;

  @include xs {
    flex-direction: column;
  }
}

.services-tile {
  position: relative;
  width: calc(100% / 3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .services-tile__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @include xs {
    width: 100%;
    min-height: 50vh;
  }
}

.services-tile__first {
  background-image: url('../../images-tiles/img-1.jpg');
}

.services-tile__second {
  background-image: url('../../images-tiles/img-2.jpg');
}

.services-tile__third {
  background-image: url('../../images-tiles/img-3.jpg');
}

.services-tile__content {
  position: absolute;
  color: var(--white-smoke-color);
  bottom: 25px;
  padding: 0 25px;
}

.services-tile__title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -7px;
    content: '';
    width: 100px;
    border-bottom: 2px solid var(--second-color);
  }
}

.services-tile__text {
  line-height: 2;
}

.services__items-icons {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 50px 0;

  @include xs {
    margin: 20px 0;
  }
}

.services__service {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  svg {
    font-size: 50px;
    margin: 50px 0;
    color: var(--gray-light-color);
  }
}

.services__items-icons__inner {
  display: flex;

  @include xs {
    flex-direction: column;
    padding: 20px;
  }
}

.services__paragraph {
  line-height: 2;
}
