@import '../../utilis/media-queries.scss';

.hamburger-react {
  display: none;
  z-index: 1000;

  @include xs {
    display: block;
    margin-left: auto;
    margin-right: 7px;
    cursor: pointer;
  }
}
